h1 {
  margin-bottom: 0.75rem;
  color: #dae4e9;
  letter-spacing: -0.015em;
  font-weight: 700;
  font-size: 16vmin;
  font-family: 'Arimo', cursive;
  line-height: 1;
}

aside p {
  text-indent: 0;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: 'Arimo', cursive;
}

p {
  margin-bottom: 0;
  color: #dae4e9;
  text-indent: 2vw;
  font-size: 0.8rem;
  font-family: 'Lora', cursive;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.picture {
  display: none;
}

.fig1 img {
  width: 120px;
}

main {
  padding-top: 2vh;
  grid-template-areas:
    "fig-1 aside"
    "title title"
    "banner banner"
    "banner banner"
    "main main";
  grid-template-rows: 50vh repeat(1, 40vh);
  grid-template-columns: repeat(2, 1fr);
}

span {
  color: rgb(214, 35, 74);
}

@supports (display: grid) {
  main {
    padding-top: 2vh;
    grid-template-areas:
      "fig-1 fig-1 aside aside aside"
      ". title title title title"
      "banner banner banner banner banner"
      ". main main main main"
      ". main main main main";
    grid-template-rows: 60vh 50vh repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  aside p {
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  picture {
    max-width: 800px;
  }
}
